.App {
  text-align: center;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin: 150px 150px;
}

input {
  margin-bottom: 20px;
}

.wallDiv {
  margin: 50px 50px;
}

.wallInformation {
  height: 500px;
  width: 200px;
};
